.wrapper
{
    padding: 16px;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.avatar
{
    width: 100px;
    height: auto;
}

.name
{
    font-size: 28px;
}

.status
{
    font-size: 18px;
}

.online
{
    color: green;
}

.offline
{
    color: orangered;
}