.form
{
    background-color: rgb(96, 96, 255);
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    margin-bottom: 20px;
}

.wrapper
{
    width: 40%;
    position: relative;
}

.button
{
    position: absolute;
    left: 0;
    border: none;
    padding: 4px;
    background-color: transparent;
}

.query
{
    padding-left: 24px;
    width: 100%;
}