.form
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 32px;
    width: 33%;
}


.label
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}